<h1>New Booking</h1>

<%= form_for @booking do |f| %>
  <%= hidden_field_tag :flight_id, params[:flight_id] %>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>
  <%= "Flight ID: #{params[:flight_id]}" %><br><br>
  <%= "Number of Passengers: #{params[:passengers]}" %><br><br>


    <%= f.fields_for :passengers do |passenger_form| %>
      <%= passenger_form.label :name%>
      <%= passenger_form.text_field :name %>
      <%= passenger_form.label :email%>
      <%= passenger_form.text_field :email %><br><br>
     <% end %>


  <%= f.submit %>

<% end %>
